<!--//back button-->

<ion-fab horizontal="start" vertical="top" > 
  <ion-fab-button size="small" color="danger " routerLink="/invitation" routerDirection="back">
    <ion-icon name="arrow-undo" ></ion-icon>
 </ion-fab-button>

</ion-fab>
<!--//header for دعوة-->
<ion-toolbar color="warning" shape="round" size="large">

  <ion-title class="ion-text-right">دعوة (مساحة حرّة)</ion-title>

</ion-toolbar>





<!--content part -->

<ion-content class="ion-padding">
<ion-content [fullscreen]="true" class="Background">
<!--card with image for (wedding part)-->

<ion-content>


  <ion-card >
  <img src="../../assets/pictures/wedding2.jpg">
  
   <ion-card-header>
    <ion-card-title class="ion-text-right">زواج</ion-card-title>
   
   </ion-card-header>
    <ion-button  shape="round"fill="outline"  color="danger"
     strong class="my-action-button" >انتقل</ion-button>
 
 
    </ion-card>
 






<!--card with image for(hena party)-->

  <ion-card >
  <img src="../../assets/pictures/hena.jpg">
  
   <ion-card-header>
    <ion-card-title class="ion-text-right">ليلة الحنّه</ion-card-title>
   </ion-card-header>
    <ion-button  shape="round" fill="outline"  color="danger"
     strong class="my-action-button" >انتقل</ion-button>
 
 
    </ion-card>
 




<!--card and image for (bye bye single life)-->

<ion-card >

   
  <img src="../../assets/pictures/bye.jpg">
 
   <ion-card-header>
    <ion-card-title class="ion-text-right">توديع عزوبية</ion-card-title>
   <ion-button shape="round" fill="outline"color="danger" 
   strong class="my-action-button" >انتقل</ion-button>
 
 
   </ion-card-header>
    </ion-card>


  <!--card and image for (baby)-->
    <ion-card >
 <img src="../../assets/pictures/baby1.jpg">

  <ion-card-header>
   <ion-card-title class= "ion-text-right"> مباركة مولود</ion-card-title>
  <ion-button shape="round" fill="outline"color="danger" 
  strong class="my-action-button" >انتقل</ion-button>


  </ion-card-header>
   </ion-card>








   
<!--card and image for (pijama party)-->

  <ion-card >
    <img src="../../assets/pictures/pij.jpg">
   
     <ion-card-header>
      <ion-card-title class= "ion-text-right">حفلة مبيّت</ion-card-title>
     <ion-button shape="round"fill="outline"color="danger"
      strong class="my-action-button" >انتقل</ion-button>
   
   
     </ion-card-header>
      </ion-card>








<!--card and image for (gradution part)-->
    

  <ion-card >
    <img src="../../assets/pictures/gradution.jpg">
   
     <ion-card-header>
      <ion-card-title class="ion-text-right">تخرج</ion-card-title>
     <ion-button shape="round"fill="outline"color="danger"
      strong class="my-action-button" >انتقل</ion-button>
   
   
     </ion-card-header>
      </ion-card>
   
<!--End content part-->

</ion-content>

<!--//footer for the page-->

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">---فريق متحدين نقف---</ion-title>
  </ion-toolbar>
</ion-footer>
  