<ion-content [fullscreen]="true" class="Background">
  <ion-header>


      <ion-fab horizontal="start" vertical="top" > 
    
        <ion-fab-button size="large" color="danger " routerLink="/home" routerDirection="back">
    
          <ion-icon name="arrow-undo" ></ion-icon>
    
       </ion-fab-button>
    
      </ion-fab>
  
      <ion-title class="sign-in-hr">
      <b><h1>
        ــــــ الإعــدادات ــــــ          
      </h1></b></ion-title>
 </ion-header>

<ion-content>
 <div id="container">
  <ion-grid size="fixed">
   <ion-row size="50">
      <ion-col size="12">
        <ion-item> 
          <ion-label size="16px">
            Toggle color theme 
          </ion-label>
          <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
