<!--//back button-->


<ion-fab horizontal="start" vertical="top" > 
  <ion-fab-button size="small" color="danger "  routerLink="/congratulate" routerDirection="back">
    <ion-icon name="arrow-undo" ></ion-icon>
 </ion-fab-button>

</ion-fab>
<!--//header for تهنئة-->
    <ion-toolbar color="warning" shape="round" size="large">
   
      <ion-title class="ion-text-right">(مكتوبة)تهنئة</ion-title>
     
    </ion-toolbar>

   <!--//background expand-->
  <ion-content class="ion-padding">
 <ion-content [fullscreen]="true" class="Background">
  

 <ion-content>


<!--card with image for (عقد قران)-->
<ion-content>
  <ion-card >
  <img src="../../assets/pictures/wedding.jpg">
 
   <ion-card-header>
    <ion-card-title class="ion-text-right">عقد قران</ion-card-title>
   
   </ion-card-header>
    <ion-button shape="round" fill="outline" color="danger"
     strong class="my-action-button" >انتقل</ion-button>
  </ion-card>
<!--card with image for (baby)-->
<ion-card >
  <img src="../../assets/pictures/baby2.jpg">
 
   <ion-card-header>
    <ion-card-title class= "ion-text-right">مولود</ion-card-title>
   <ion-button shape="round" fill="outline" color="danger" 
    strong class="my-action-button" >انتقل</ion-button>
 
 
   </ion-card-header>
    </ion-card>





<!--//card and image for (جمعه))-->

<ion-card color>
  <img src="../../assets/pictures/friday.jpg">
 
   <ion-card-header>
    <ion-card-title class= "ion-text-right">يوم الجمعة</ion-card-title>
   <ion-button fill="outline" shape="round" color="danger" 
   strong class="my-action-button" >انتقل</ion-button>
 
 
   </ion-card-header>
    </ion-card>




<!--//card and image for (رمضان)-->

<ion-card >
  <img src="../../assets/pictures/Rmadan.jpg">
 
   <ion-card-header>
    <ion-card-title class="ion-text-right">رمضان</ion-card-title>

   <ion-button shape ="round"fill="outline"color="danger" 
   strong class="my-action-button" >انتقل</ion-button>
 
 
   </ion-card-header>
    </ion-card>
 
 



 <!--//card and image for ( عيد)-->

 <ion-card color>
  <img src="../../assets/pictures/Eid.jpg">
 
   <ion-card-header>
    <ion-card-title class="ion-text-right">عيد مبارك</ion-card-title>
   <ion-button shape="round" fill="outline"color="danger" 
   strong class="my-action-button" >انتقل</ion-button>
 
 
   </ion-card-header>
    </ion-card>



<!--End content -->

  </ion-content>



  <!--//footer for the page-->

    <ion-footer>
      <ion-toolbar>
        <ion-title class="ion-text-center">---فريق متحدين نقف---</ion-title>
      </ion-toolbar>
    </ion-footer>
